<button
  mat-menu-item
  (click)="editFolder()"
>
  <mat-icon svgIcon="lucide:edit"></mat-icon>
  <span>{{ T.G.EDIT | translate }}</span>
</button>

<button
  mat-menu-item
  (click)="addSubfolder()"
>
  <mat-icon svgIcon="lucide:create_new_folder"></mat-icon>
  <span>{{
    treeKind === MenuTreeKind.PROJECT
      ? (T.F.PROJECT_FOLDER.ADD_SUBFOLDER | translate)
      : (T.F.TAG_FOLDER.ADD_SUBFOLDER | translate)
  }}</span>
</button>

@if (treeKind === MenuTreeKind.PROJECT) {
  <button
    mat-menu-item
    (click)="addProject()"
  >
    <mat-icon svgIcon="lucide:add"></mat-icon>
    <span>{{ T.F.PROJECT_FOLDER.ADD_PROJECT | translate }}</span>
  </button>
}

@if (treeKind === MenuTreeKind.TAG) {
  <button
    mat-menu-item
    (click)="addTag()"
  >
    <mat-icon svgIcon="lucide:add"></mat-icon>
    <span>{{ T.F.TAG_FOLDER.ADD_TAG | translate }}</span>
  </button>
}

<button
  mat-menu-item
  (click)="deleteFolder()"
>
  <mat-icon svgIcon="lucide:delete"></mat-icon>
  <span>{{ T.G.DELETE | translate }}</span>
</button>
