@if (isTimeTrackingEnabled() && !task().isDone && !task().subTasks?.length) {
  @if (isCurrent()) {
    <button
      (click)="parent.pauseTask()"
      title="{{ T.F.TASK.CMP.TRACK_TIME_STOP | translate }} {{
        kb.togglePlay ? '[' + kb.togglePlay + ']' : ''
      }}"
      class="ico-btn"
      color="accent"
      mat-icon-button
    >
      <mat-icon svgIcon="lucide:pause"></mat-icon>
    </button>
  } @else {
    <button
      (click)="parent.startTask()"
      title="{{ T.F.TASK.CMP.TRACK_TIME | translate }} {{
        kb.togglePlay ? '[' + kb.togglePlay + ']' : ''
      }}"
      class="ico-btn start-task-btn"
      color=""
      mat-icon-button
    >
      <mat-icon
        class="play-icon"
        svgIcon="lucide:play_arrow"
      ></mat-icon>
    </button>
  }
}
@if (isShowAddToToday()) {
  <button
    (click)="parent.addToMyDay()"
    title="{{ T.F.TASK.CMP.ADD_TO_MY_DAY | translate }} {{
      kb.taskScheduleToday ? '[' + kb.taskScheduleToday + ']' : ''
    }}"
    class="ico-btn"
    color=""
    mat-icon-button
  >
    <mat-icon svgIcon="lucide:wb_sunny"></mat-icon>
  </button>
}
@if (isShowRemoveFromToday()) {
  <button
    (click)="parent.unschedule()"
    [title]="T.F.TASK.CMP.REMOVE_FROM_MY_DAY | translate"
    class="ico-btn"
    color=""
    mat-icon-button
  >
    <mat-icon svgIcon="lucide:timer_off"></mat-icon>
  </button>
}
@if (
  !task().notes &&
  (!task().issueId ||
    task().issueType === ICAL_TYPE ||
    task().issueType === PLAINSPACE_TYPE) &&
  !task().issueWasUpdated &&
  !isSelected()
) {
  <button
    (click)="parent.toggleShowDetailPanel($event)"
    title="{{ T.F.TASK.CMP.TOGGLE_DETAIL_PANEL | translate }} {{
      kb.taskToggleDetailPanelOpen ? '[' + kb.taskToggleDetailPanelOpen + ']' : ''
    }}"
    class="ico-btn show-additional-info-btn"
    color=""
    mat-icon-button
  >
    @if (!task().issueWasUpdated) {
      <mat-icon svgIcon="lucide:right_panel_open"></mat-icon>
    }
    <!--            <mat-icon *ngIf="!task().issueWasUpdated" svgIcon="lucide:toc"></mat-icon>-->
    <!--            <mat-icon *ngIf="!task().issueWasUpdated" svgIcon="lucide:chevron_right"></mat-icon>-->
    @if (task().issueWasUpdated) {
      <mat-icon
        color="accent"
        svgIcon="lucide:update"
      ></mat-icon>
    }
  </button>
}
